In [1]:
# !wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
# !wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

In [2]:
# !docker cp green_tripdata_2019-10.csv postgres:/green_tripdata_2019-10.csv
# !docker cp taxi_zone_lookup.csv postgres:/taxi_zone_lookup.csv
# !pip install sqlalchemy psycopg2

In [3]:
import pandas as pd

# Load the CSV file into a Pandas DataFrame
df1 = pd.read_csv("green_tripdata_2019-10.csv")
df2 = pd.read_csv("taxi_zone_lookup.csv")
display(df1.head())  # Optional: Check the first few rows
display(df2.head())

C:\Users\super\AppData\Local\Temp\ipykernel_15256\412183545.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("green_tripdata_2019-10.csv")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
from sqlalchemy import create_engine

# Database connection URL
DATABASE_URL = "postgresql+psycopg2://postgres:postgres@localhost:5433/ny_taxi"

# Create SQLAlchemy engine
engine = create_engine(DATABASE_URL)

In [5]:
# Insert data into the database table
df1.to_sql("green_tripdata", engine, if_exists="replace", index=False)
df2.to_sql("taxi_zone", engine, if_exists="replace", index=False)

265

In [17]:
from sqlalchemy import create_engine, func, cast, DateTime
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Table, MetaData
from datetime import datetime
# Set up the connection to the PostgreSQL database
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5433/ny_taxi")
Session = sessionmaker(bind=engine)
session = Session()

# Reflect the table (green_tripdata)
metadata = MetaData()
green_tripdata = Table('green_tripdata', metadata, autoload_with=engine)

# Define the date range for the query
start_date = datetime(2019, 10, 1)
end_date = datetime(2019, 11, 1)

# Construct the query to count trips by distance range
query = session.query(
    func.count().filter(green_tripdata.c.trip_distance <= 1).label('Up_to_1_mile'),
    func.count().filter(green_tripdata.c.trip_distance > 1, green_tripdata.c.trip_distance <= 3).label('Between_1_and_3_miles'),
    func.count().filter(green_tripdata.c.trip_distance > 3, green_tripdata.c.trip_distance <= 7).label('Between_3_and_7_miles'),
    func.count().filter(green_tripdata.c.trip_distance > 7, green_tripdata.c.trip_distance <= 10).label('Between_7_and_10_miles'),
    func.count().filter(green_tripdata.c.trip_distance > 10).label('Over_10_miles')
).filter(
    cast(green_tripdata.c.lpep_pickup_datetime, DateTime) >= start_date,  # Cast to DateTime for proper comparison
    cast(green_tripdata.c.lpep_pickup_datetime, DateTime) < end_date      # Exclude November 1st
)
# Execute the query
result = query.one()

# Print the result
print(f"Up to 1 mile: {result.Up_to_1_mile}")
print(f"Between 1 and 3 miles: {result.Between_1_and_3_miles}")
print(f"Between 3 and 7 miles: {result.Between_3_and_7_miles}")
print(f"Between 7 and 10 miles: {result.Between_7_and_10_miles}")
print(f"Over 10 miles: {result.Over_10_miles}")

# Close the session
session.close()

Up to 1 mile: 104830
Between 1 and 3 miles: 198995
Between 3 and 7 miles: 109642
Between 7 and 10 miles: 27686
Over 10 miles: 35201

In [24]:
Session = sessionmaker(bind=engine)
session = Session()

# Reflect the table (green_tripdata)
metadata = MetaData()
green_tripdata = Table('green_tripdata', metadata, autoload_with=engine)

query = session.query(green_tripdata.c.lpep_pickup_datetime).order_by(
    green_tripdata.c.trip_distance.desc()  # Order by the trip distance in descending order
).limit(1)  # Get only the longest trip
result = query.one()
print(result)
session.close()

('2019-10-31 23:23:41',)

In [26]:
from sqlalchemy import create_engine, func, cast, DateTime
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Table, MetaData
from sqlalchemy.orm import aliased

# Set up the connection to the PostgreSQL database
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5433/ny_taxi")
Session = sessionmaker(bind=engine)
session = Session()

# Reflect the tables (green_tripdata and taxi_zone_lookup)
metadata = MetaData()
green_tripdata = Table('green_tripdata', metadata, autoload_with=engine)
taxi_zone_lookup = Table('taxi_zone', metadata, autoload_with=engine)

# Define the date for the query (October 18, 2019)
target_date = '2019-10-18'

# Query to get the pickup locations with over 13,000 in total_amount
query = session.query(
    taxi_zone_lookup.c.Zone,
    func.sum(green_tripdata.c.total_amount).label('total_amount_sum')
).join(
    green_tripdata, green_tripdata.c.PULocationID == taxi_zone_lookup.c.LocationID
).filter(
    cast(green_tripdata.c.lpep_pickup_datetime, DateTime).between(target_date + " 00:00:00", target_date + " 23:59:59")
).group_by(
    taxi_zone_lookup.c.Zone
).having(
    func.sum(green_tripdata.c.total_amount) > 13000
).order_by(
    func.sum(green_tripdata.c.total_amount).desc()
)

# Execute the query
result = query.all()

# Print the results
print("Pickup locations with over 13,000 in total_amount on 2019-10-18:")
for location in result:
    print(f"{location.Zone}: ${location.total_amount_sum}")

# Close the session
session.close()

Pickup locations with over 13,000 in total_amount on 2019-10-18:
East Harlem North: $18686.680000000088
East Harlem South: $16797.26000000007
Morningside Heights: $13029.790000000037

In [30]:
from sqlalchemy import create_engine, func, cast, DateTime
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Table, MetaData

# Set up the connection to the PostgreSQL database
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5433/ny_taxi")
Session = sessionmaker(bind=engine)
session = Session()

# Reflect the tables (green_tripdata and taxi_zone_lookup)
metadata = MetaData()
green_tripdata = Table('green_tripdata', metadata, autoload_with=engine)
taxi_zone_lookup = Table('taxi_zone', metadata, autoload_with=engine)

# Define the date range for October 2019 and the pickup zone "East Harlem North"
target_zone = "East Harlem North"
start_date = '2019-10-01'
end_date = '2019-10-31'

# Query to find the drop-off zone with the largest tip
query = session.query(
    taxi_zone_lookup.c.Zone,
    func.sum(green_tripdata.c.tip_amount).label('total_tips')
).join(
    green_tripdata, green_tripdata.c.DOLocationID == taxi_zone_lookup.c.LocationID
).filter(
    green_tripdata.c.PULocationID == 74,  # ID for "East Harlem North"
    cast(green_tripdata.c.lpep_pickup_datetime, DateTime).between(start_date, end_date)
).group_by(
    taxi_zone_lookup.c.Zone
).order_by(
    func.sum(green_tripdata.c.tip_amount).desc()
).limit(1)  # Limit to get the drop-off zone with the largest tip

# Execute the query
result = query.one()

# Print the result
print(f"Drop-off zone with the largest tip: {result.Zone}, Total Tip: ${result.total_tips}")

# Close the session
session.close()

Drop-off zone with the largest tip: Upper East Side North, Total Tip: $4770.299999999996